<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ipsi_frontend">

    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:label="입시도리"
            android:icon="@mipmap/ic_launcher"
            android:allowBackup="true"
            android:supportsRtl="true"
            android:theme="@style/LaunchTheme">

        <!-- Flutter 진입점 -->
        <activity
                android:name="io.flutter.embedding.android.FlutterActivity"
                android:exported="true"
                android:launchMode="singleTop"
                android:theme="@style/LaunchTheme"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
                android:hardwareAccelerated="true"
                android:windowSoftInputMode="adjustResize">

            <meta-data
                    android:name="io.flutter.embedding.android.NormalTheme"
                    android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 카카오 로그인 리디렉션 (kakao{네이티브 앱 키}) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 네이티브 앱 키 기준으로 kakao{키} 설정 -->
                <data android:scheme="kakaoa19586ddd9ab7a34283d45abe1022db1" />
            </intent-filter>

        </activity>

        <!-- Flutter Plugin 관련 메타데이터 -->
        <meta-data
                android:name="flutterEmbedding"
                android:value="2" />
    </application>

    <!-- Flutter Text Plugin용 쿼리 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
